<app-slider   [backgroundImages]="backgroundImages()">
  <h1 class="text-[65px] uppercase font-black leading-[75px] text-white">
      Brazilian <br />
      Steakhouse & BBQ
    </h1>

    <div class="flex gap-5 justify-center pt-10">
      <app-button  labelName='our menus'     bgColor="!bg-[#F78853]"   ></app-button>
      <app-button  labelName='book a table'  bgColor="!bg-[#07B5C1]"></app-button>
    </div>
    </app-slider>
    <app-welcome></app-welcome>
    <app-deliveries></app-deliveries>
    <app-register></app-register>

