<main class="pt-40">
  <header>
    <div class="container text-white flex flex-col justify-center h-full">
      <small class="uppercase text-[25px] font-bold leading[28px]">Group dining and events</small>
      <h1 class="text-[75px] font-black leading-[82px]">
        Celebrate <br />
        Brazilian Style!
      </h1>
    </div>
  </header>

  <section class="pt-10">
    <div class="md:grid md:grid-cols-12 container md:gap-x-10">
      <div
        class="col-span-3 mb-2 md:mb-0 h-[220px] relative z-20 text-center after:bg-[#E98A5F] after:absolute after:top-2 after:start-4 after:w-full after:h-[95%] after:-z-10"
      >
        <div class="bg-white w-full py-10">
          <h2
            class="uppercase relative my-5 pb-4 text-[25px] font-bold text-[#07b5c1] leading-[28px]"
          >
            Private Rooms
          </h2>
          <p class="text-[#575756] leading-[18px] font-semibold">
            A range of private and semi private <br />
            rooms across our restaurants
          </p>
        </div>
      </div>

      <div
        class="col-span-3 mb-5 md:mb-0 h-[220px] relative z-20 text-center after:bg-[#AFBC72] after:absolute after:top-5 after:start-4 after:w-full after:h-[95%] after:-z-10"
      >
        <div class="bg-white w-full py-10">
          <h2 class="uppercase relative my-5 pb-4 text-[25px] font-bold text-[#07b5c1] leading-7">
            All you can eat
          </h2>
          <p class="text-[#575756] leading-[18px] font-semibold">
            Fun all you can eat steakhouse <br />
            experience that’s always a crowd <br />
            pleaser
          </p>
        </div>
      </div>

      <div
        class="col-span-3 mb-2 md:mb-0 h-[220px] relative z-20 text-center after:bg-[#ABA4C2] after:absolute after:top-2 after:start-4 after:w-full after:h-[95%] after:-z-10"
      >
        <div class="bg-white w-full py-10">
          <h2
            class="uppercase relative my-5 pb-4 text-[25px] font-bold text-[#07b5c1] leading-[28px]"
          >
            No fees
          </h2>
          <p class="text-[#575756] leading-[18px] font-semibold">
            No fees for private or semi private <br />
            hire, just a minimum spend
          </p>
        </div>
      </div>

      <div
        class="col-span-3 mb-2 md:mb-0 relative h-[220px] z-20 text-center after:bg-[#EFC269] after:absolute after:top-2 after:start-4 after:w-full after:h-[95%] after:-z-10"
      >
        <div class="bg-white w-full py-10">
          <h2 class="uppercase relative my-5 pb-4 text-[25px] font-bold text-[#07b5c1] leading-7">
            Events Team
          </h2>
          <p class="text-[#575756] leading-[18px] font-semibold">
            A dedicated events team on hand to <br />
            help with anything you need
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-20 md:pt-40">
    <div class="md:grid md:grid-cols-12 container md:gap-x-20">
      <div class="md:col-span-6 md:-rotate-5">
        <div
          class="relative z-20 w-full after:bg-[#ABA4C2] after:w-full after:absolute after:-z-10 after:h-full after:top-3 after:end-3"
        >
          <img src="/assets/slider-4.png" alt="preto resturant" class="w-full object-cover" />
        </div>
      </div>

      <div class="md:col-span-6">
        <figcaption>
          <h3
            class="uppercase md:text-[40px] text-[30px] font-black leading-[46px] text-[#e98a5f] pt-10 md:pt-0"
          >
            Party like you're in <br />
            Brazil!
          </h3>

          <p class="text-[22px] leading-[31px] text-[#575756] font-semibold py-8">
            Got a big celebration coming up? Preto is the perfect choice for birthdays,
            anniversaries, graduations, work parties, and everything in between! We’re able to host
            group bookings of up to 80 people in one sitting, from private dining to full venue
            hire, we’ve got your party covered.
          </p>
        </figcaption>

        <p-button
          label="get in touch "
          routerLink="/group-booking"
          fragment="get-in-touch"
          styleClass="bg-[#0FB5C2]! border-none! uppercase!  rounded-none!"
        ></p-button>
        <!-- <app-button labelName="get in touch" bgColor="bg-[#0FB5C2]!"></app-button> -->
      </div>
    </div>
  </section>

  <section class="pt-20 md:pt-40">
    <div class="flex flex-col md:flex-row container gap-20">
      <div class="order-3 w-full">
        <figcaption>
          <h3 class="uppercase text-[40px] font-black leading-[46px] text-[#e98a5f]">
            BOOK NOW FOR PARTIES UP TO 20 PEOPLE
          </h3>

          <p class="text-[22px] leading-[31px] text-[#575756] font-semibold py-8">
            You can book directly on our website for parties of up to 20 people. If you’re planning
            a larger party or would like to host a private event, contact our reservations team
            using the form below.
          </p>
        </figcaption>
      </div>

      <div class="md:rotate-10 order-2 md:order-4 w-full">
        <div
          class="relative z-20 w-full after:bg-[#EFC269] after:w-full after:absolute after:-z-10 after:h-full after:top-3 after:end-3"
        >
          <img
            src="/assets/sldier2.1.webp"
            alt="preto resturant"
            class="w-full object-cover h-[340px]"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="pt-20 md:pt-40">
    <div class="md:grid md:grid-cols-12 md:flex-row gap-20 container">
      <div class="md:col-span-6 md:-rotate-5">
        <div
          class="relative z-20 w-full after:bg-[#AFBC72] after:w-full after:absolute after:-z-10 after:h-full after:top-3 after:end-3"
        >
          <img src="/assets/slider-3.png" alt="preto resturant" class="w-full object-cover" />
        </div>
      </div>

      <div class="md:col-span-6">
        <figcaption>
          <h3 class="uppercase text-[40px] font-black leading-[46px] text-[#e98a5f] pt-10 md:pt-0">
            Catering for tour groups
          </h3>

          <p class="text-[22px] leading-[31px] text-[#575756] font-semibold py-8">
            Are you searching for the perfect dining destination to accommodate your tour group in
            London? Look no further than our vibrant Brazilian Steakhouse! We can provide a
            memorable and enjoyable dining experience tailored to the unique needs of both coach and
            walking tour groups, to suit all budgets and requirements.
          </p>
        </figcaption>

        <app-button labelName="get in touch" bgColor="bg-[#0FB5C2]!"></app-button>
      </div>
    </div>
  </section>

  <section id="get-in-touch" class="py-20 mt-10">
    <div class="flex flex-col md:flex-row items-center px-5">
      <div class="mx-auto text-center text-white">
        <h3 id="touch" class="uppercase pb-2 mb-5 md:text-[60px] text-[45px] relative font-black">
          get in touch
        </h3>

        <p class="md:leading-[35px] text-[20px] md:text-[25px] font-medium pb-10 text-center">
          Ready to party like you’re in Brazil? Get in touch with our team today to discuss your
          requirements and how we can help you make your event special!
        </p>
      </div>

      <form
        class="flex w-full flex-wrap gap-3 relative z-60"
        [formGroup]="bookingGroupForm"
        (ngSubmit)="submit()"
      >
        <!-- nmae -->
        @let name = bookingGroupForm.get('name');

        <div class="w-full mx-auto md:w-[46%] input">
          <input pInputText type="text" placeholder="name" class="w-full" formControlName="name" />
          <app-validator [control]="name!"></app-validator>
        </div>

        <!-- email -->
        @let email = bookingGroupForm.get('email');
        <div class="w-full mx-auto md:w-[46%] input">
          <input
            pInputText
            type="email"
            placeholder="email*"
            class="w-full"
            formControlName="email"
          />
          <app-validator [control]="email!"></app-validator>
        </div>

        <!-- date -->
        @let date = bookingGroupForm.get('date');
        <div class="w-full mx-auto md:w-[46%] input">
          <p-datepicker class="w-full!" placeholder="date" appendTo="body" formControlName="date" />
          <app-validator [control]="date!"></app-validator>
        </div>

        <!-- Number of eople  -->
        @let numberOfPeople = bookingGroupForm.get('numberOfPeople');
        <div class="w-full mx-auto md:w-[46%] input">
          <p-inputnumber
            class="w-full!"
            mode="decimal"
            inputId="withoutgrouping"
            placeholder="number of people *"
            [useGrouping]="false"
            formControlName="numberOfPeople"
          />
          <app-validator [control]="numberOfPeople!"></app-validator>
        </div>

        <!-- grouping booking -->
        @let groupBookingType = bookingGroupForm.get('groupBookingTYpe');
        <div class="md:w-[97%] mx-auto w-full">
          <p-treeselect
            name="node"
            class="md:w-80 w-full"
            [options]="groupingBooking()"
            placeholder="group booking type"
            required
            formControlName="groupBookingTYpe"
          />
          <app-validator [control]="groupBookingType!"></app-validator>
        </div>

        <!-- message -->
        <div class="flex flex-col md:w-[97%] w-full mx-auto bg-white">
          <p-iftalabel>
            <textarea
              pTextarea
              id="description"
              rows="10"
              style="resize: none"
              placeholder="Message *"
              class="px-3 w-full"
              formControlName="message"
            ></textarea>
          </p-iftalabel>
        </div>

        <div class="card md:ms-auto mx-auto md:me-10">
          <p-button
            type="submit"
            label="SUBMIT NOW"
            styleClass=" bg-[#575756]! border-none!  rounded-none!  py-3! px-5! cursor-pointer!  "
          />
        </div>
      </form>

      <p-toast life="5000" />
    </div>
  </section>
</main>
