/* section {
    background-image: url('/assets/imgi_12_palm-orange-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 90vh;

} */