<section class="pt-40 relative">
  <div class="lg:container">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-10  lg:items-center">
      <div class="lg:col-span-5 px-10 lg:px-0">

        <h2 class="text-[#E36F62] text-[60px]   uppercase text-center md:text-start md:text-[77px] md:leading-[85px]">
          Welcome
          <br />
          to Preto
        </h2>



        <p class="font-extrabold text-[20px] text-center  text-gray-700 w-full  py-10 md:text-[25px] md:leading-[30px] md:text-start">
          Preto is a dining experience like no other. 
          Our succulent meats are carved table side 
          by our Passadors and offered with a variety 
          of freshly prepared gourmet salads and 
          traditional Brazilian hot dishes.
        </p>





        <p class="text-[#E36F62]  text-center  font-extrabold pb-10   md:text-[19px] md:leading-[23px] md:text-start">
          SECRET: Don’t take too much of any one item or you’ll run
          out of space before you’ve tasted them all. Your favourites
          will be back around, piping hot before you know it!
        </p>




  <div class=" text-center pb-5" >

    <p-button
      label="Book A Table "
      text
      plain
      styleClass="!text-white  !bg-[#07B5C1]  !uppercase !rounded-none "
    />
  </div>



      </div>





      <div
        class="relative lg:col-span-7 w-full bg-red-300 cursor-pointer z-20
        after:bg-[#EFC46B]
        after:w-full
        after:h-full 
        after:absolute 
        after:top-[30%]
        after:start-0
        lg:after:top-[5%] 
        lg:after:-start-[5%]
        after:-z-10 group"
      >
        <figure class="w-full overflow-hidden">
          <img
            src="assets/slider-4.png"
            class="group-hover:scale-105 group-hover:-skew-y-1 w-full transition-all duration-700"
            alt="Unlimited Meats"
          />
        </figure>



        
        <figcaption
          class="absolute inset-0 flex flex-col text-center items-center py-10 bg-black/40 text-white"
        >
          <h3 class="uppercase  text-[25px] md:text-[52px] md:leading-[65px]">
            unlimited meats <br />
            & sides
          </h3>

          <p class="md:pt-5 md:pb-10 ">
            Feast like never before with our viral rodizio. Unlimited grilled <br />
            meats and unlimited servings of our fresh buffet with over 25 <br />
            different dishes — you won’t leave hungry!
          </p>

          <p-button
            label="Book A Table "
            text
            plain
            styleClass="!text-white  !bg-[#EFC46B]  !uppercase !rounded-none group-hover:bg-white! group-hover:text-black! transition-all! duration-700   "
          />
        </figcaption>
      </div>
    </div>
  </div>
</section>
