<section
  class="pt-40"
  pAnimateOnScroll
  enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
>
  <div class="container md:grid md:items-center md:grid-cols-12">
    <app-img [item]="item()" class="col-span-4 col-start-1 -rotate-5 img-style pb-10 md:pb-0"></app-img>





    <div class="md:self-start md:col-span-6 md:col-start-7 pt-4">
      <h3 class="h3-style   text-[#07b5c1]">
        Feed the <br />
        Kids
      </h3>

      <p class="desc-img">
        The Little ones get to enjoy the same experience as <br />
        the grownups, watching their faces light up as the <br />
        waiters serve them their favourite foods. (Children’s <br />
        menu is up to 10 years old)
      </p>
    </div>
  </div>
</section>
